body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e8dcd0;
}

p {
    margin-top: 40px;
}

.container-fluid {
    padding: 15px;
    height: 100%;
    position: relative;
}

#calculator {
    width: 400px;
    height: 575px;
    max-width: 100%;
    background-color: #99dccb;
    //margin: 0 auto;
    padding-top: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#total {
    width: 100%;
    height: 100px;
    background-color: #fff;
    opacity: .85;
}

#history {
    width: 100%;
    height: 25px;
    border-top: 2px solid #99dccb;
    background-color: #fff;
    opacity: .85;
}

#keypad {
    //background-color: red;
    max-width: 100%;
}

.row {
    margin: 0;
}

.col-sm-3 {
    width: 24%;
    margin: 2px;
}

.key {
    //background-color: green;
    color: #fff;
    height: 96px;
}

footer {
    margin-top: -40px;
}
