body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e8dcd0;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

a {
    outline: 0;
}

h1 {
    font-size: 9vh;
    color: #fff;
    margin: 0;
}

.container-fluid {
    padding: 0;
    height: 100%;
    position: relative;
}

#calculator {
    max-width: 400px;
    //height: 720px;
    height: 100%;
    max-width: 100%;
    //background-color: #99dccb;
    //margin: 0 auto;
    //position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}
#header {
    background-color: #99dccb;
    padding: 0 10px;
    height: 11%;
}
#display,
#history {
    text-align: right;
    padding: 0 5%;
}

#display {
    width: 100%;
    background-color: #fff;
    opacity: .85;
    font-size: 13vh;
    height: 18%;
}

#history {
    width: 100%;
    border-top: 2px solid #99dccb;
    background-color: #fff;
    opacity: .85;
    font-size: 3.5vh;
    height: 5%;
}

#keypad {
    background-color: #99dccb;
    //max-width: 100%;
    height: 61%;
}

.row {
    margin: 0;
    height: 20%;
}

.col-sm-3 {
    width: 23%;
    margin: 2px;
}

.key {
    //background-color: green;
    color: #fff;
    height: 20%;
}

.btn {
    font-size: 7vh;
}
#delete {
    font-variant: small-caps;
}
footer {
    font-size: 3vh;
    height: 5%;
}
