body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e8dcd0;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1 {
    font-size: 3.2em;
    color: #fff;
}

.container-fluid {
    padding: 15px;
    height: 100%;
    position: relative;
}

#calculator {
    max-width: 400px;
    height: 720px;
    max-width: 100%;
    background-color: #99dccb;
    //margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}

#display,
#history {
    text-align: right;
    padding: 0 10px;
}

#display {
    width: 100%;
    background-color: #fff;
    opacity: .85;
    font-size: 5em;
}

#history {
    width: 100%;
    border-top: 2px solid #99dccb;
    background-color: #fff;
    opacity: .85;
    font-size: 1.3em;
}

#keypad {
    //background-color: red;
    //max-width: 100%;
}

.row {
    margin: 0;
}

.col-sm-3 {
    width: 24%;
    margin: 2px;
}

.key {
    //background-color: green;
    color: #fff;
    height: 96px;
}
button {
    background-color: transparent;
}
button.btn {
    font-size: 2em;
}
footer {
    margin-top: 10px;
    font-size: 1.3em;
}
